@using Store_Application.Common.Extentions
@using EndPoint.WebSite.Areas.UserPanel.Models.Order.ShowOrderInfo
@model ShowOrderInfoViewModel
@{
    Layout = "_UserPanelLayout";
    ViewData["Title"] = "فاکتور خرید | فروشگاه اینترنتی هگز مارکت";
}

<div class="col-lg-9 col-md-9 col-xs-12 pl">
    <div class="profile-content">
        <div class="profile-stats">
            <div class="table-order-view">
                <h2 class="order-view-title mt-4 mb-3">جزییات سفارش </h2>
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">نام محصول</th>
                            <th scope="col">مجموع</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.OrderDetails.Any())
                        {
                            foreach (var od in Model.OrderDetails)
                            {
                                <tr>
                                    <td class="product-name">@od.Title (@od.Count عدد)</td>
                                    <td class="product-total">
                                        <span class="amount">
                                            @((od.PriceWithDiscount * od.Count).FixedToView())
                                            <span>تومان</span>
                                        </span>
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                    <tfoot>
                        <tr>
                            <th scope="row">مجموع:</th>
                            <td>
                                <span class="amount">
                                    @Model.totalAmount.FixedToView()
                                    <span>تومان</span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">قیمت نهایی:</th>
                            <td>
                                <span class="amount">
                                    @Model.totalAmount.FixedToView()
                                    <span>تومان</span>
                                </span>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <br />
                <br />
                <div class="order-view-customer">
                    <div class="box-header">
                        <span class="box-title">اطلاعات گیرنده</span>
                    </div>
                    <div class="profile-address-item">
                        <div class="profile-address-content">
                            <ul class="profile-address-info">
                                <li>
                                    <div class="profile-address-info-item location">
                                        <span class="title-address">نام گیرنده : </span>
                                        @Model.ReceiverName
                                    </div>
                                </li>
                                <li>
                                    <div class="profile-address-info-item location">
                                        <span class="title-address ">شماره تلفن : </span>
                                        @Model.ReceiverPhone
                                    </div>
                                </li>
                                <li>
                                    <div class="profile-address-info-item location">
                                        <span class="title-address">آدرس : </span>
                                        @Model.Address
                                    </div>
                                </li>
                                <li>
                                    <div class="profile-address-info-item location">
                                        <span class="title-address">کدپستی: </span>
                                        @Model.PostCode
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
