@using Store_Application.Common.Extentions;
@using EndPoint.WebSite.Areas.UserPanel.Models.Favorite.Index;
@model List<FavoriteListViewModel>
@{
    Layout = "_UserPanelLayout";
    ViewData["Title"] = "ویرایش اطلاعات | فروشگاه اینترنتی هگز مارکت";
}
<div class="col-lg-9 col-md-9 col-xs-12 pl">
    <div class="profile-content">
        <div class="profile-stats">
            <div class="table-favorites">
                <table class="table ns-table table-profile-favorites">
                    <thead>
                        <tr>
                            <th scope="col" width="50"> </th>
                            <th scope="col">نام محصول</th>
                            <th scope="col">قیمت</th>
                            <th class="actions-th"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Any())
                        {
                            foreach (var favorite in Model)
                            {
                                <tr class="product-@favorite.ProductId">
                                    <th scope="row">
                                        <div class="favorites-product-img">
                                            <img src="\images\page-single-product\product-img\@favorite.ImageName">
                                            <div class="product-rate">
                                                <!-- TODO -->
                                                <i class=""></i>
                                            </div>
                                        </div>
                                    </th>
                                    <td>
                                        <a class="btn btn-outline-danger" asp-controller="Product" asp-action="Index" asp-route-productId="@favorite.ProductId">@favorite.Title</a>
                                    </td>
                                    <td>
                                        @if (favorite.DiscountAmount > 0)
                                        {
                                            <span class="amount">
                                                <del class="d-block text-danger font-small-3">
                                                    <span>@favorite.Price.FixedToView()<span>تومان</span></span>
                                                </del>
                                                <ins class="text-info font-small-5">
                                                    <span>@favorite.PriceWithDiscount.FixedToView()<span>تومان</span></span>
                                                </ins>
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="amount">
                                                <ins class="text-info font-small-5">
                                                    <span>@favorite.Price.FixedToView()<span>تومان</span></span>
                                                </ins>
                                            </span>
                                        }
                                        
                                    </td>
                                    <td class="text-left actions">
                                        <a onclick="RemoveFromFavorite(@favorite.ProductId)" class="remove-product cursor-pointer"><i class="mdi mdi-close"></i></a>
                                    </td>
                                </tr>
                                <tr class="spacer"></tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <th scope="row">
                                    <div class="favorites-product-img">
                                        <div class="product-rate">
                                        </div>
                                    </div>
                                </th>
                                <td>
                                    محصولی را  به لیست علاقمندی های خود اضافه نکردید
                                </td>
                                <td>
                                </td>
                                <td class="text-left actions">
                                </td>
                            </tr>
                            <tr class="spacer"></tr>
                        }

                    </tbody>
                </table>

                @if (Model.Any())
                {
                    foreach (var favorite in Model)
                    {
                        <div class="profile-recent-fav product-@favorite.ProductId">
                            <a asp-controller="Product" asp-action="Index" asp-route-productId="@favorite.ProductId" class="img-profile-favorites">
                                <img src="\images\page-single-product\product-img\@favorite.ImageName">
                            </a>
                            <div class="profile-recent-fav-col">
                                <a asp-controller="Product" asp-action="Index" asp-route-productId="@favorite.ProductId">@favorite.Title</a>
                            </div>
                            <div class="profile-recent-fav-price">
                                @if (favorite.DiscountAmount > 0)
                                {
                                    <span class="amount">
                                        <del class="d-block text-danger font-small-3">
                                            <span>@favorite.Price.FixedToView()<span>تومان</span></span>
                                        </del>
                                        <ins class="text-info font-small-5">
                                            <span>@favorite.PriceWithDiscount.FixedToView()<span>تومان</span></span>
                                        </ins>
                                    </span>
                                }
                                else
                                {
                                    <span class="amount">
                                        <ins class="text-info font-small-5">
                                            <span>@favorite.Price.FixedToView()<span>تومان</span></span>
                                        </ins>
                                    </span>
                                }
                            </div>
                            <div class="profile-recent-fav-remove cursor-pointer">
                                <a onclick="RemoveFromFavorite(@favorite.ProductId)"><i class="mdi mdi-close"></i></a>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/js/Favorite.js"></script>
}
