@using EndPoint.WebSite.Models.Components.HeaderMenues
@model IEnumerable<CategoryViewModel>

<div>
    <nav class="header-main-nav">
        <div class="d-block">
            <div class="align-items-center">
                <ul class="menu-ul mega-menu-level-one">
                    @if (Model.Any())
                    {
                        @foreach (var category in Model.Where(c => c.ParentCategoryId == null))
                        {
                            <li id="nav-menu-item" class="menu-item nav-overlay">
                                <a asp-controller="Search" asp-action="Index" asp-route-searchTitle="@category.Title" class="current-link-menu">
                                    @category.Title
                                </a>
                                @{
                                    var grps = Model.Where(c => c.ParentCategoryId.Equals(category.Id)).ToList();
                                }
                                @if (grps.Any())
                                {
                                    <ul class="sub-menu is-mega-menu mega-menu-level-two">
                                        @foreach (var group in grps)
                                        {
                                            <li class="menu-mega-item menu-item-type-mega-menu">
                                                <a asp-controller="Search" asp-action="Index" asp-route-searchTitle="@group.Title" class="mega-menu-link">
                                                    @group.Title
                                                </a>
                                                @{
                                                    var subGrps = Model.Where(c => c.ParentCategoryId.Equals(group.Id)).ToList();
                                                }
                                                @if (subGrps.Any())
                                                {
                                                    <ul class="sub-menu mega-menu-level-three">

                                                        @foreach (var subGroup in subGrps)
                                                        {

                                                            <li class="menu-mega-item-three">
                                                                <a asp-controller="Search" asp-action="Index" asp-route-searchTitle="@subGroup.Title" asp-route-categoryId="@subGroup.Id">
                                                                    @subGroup.Title
                                                                </a>
                                                            </li>
                                                        }
                                                    </ul>
                                                }


                                            </li>
                                        }
                                    </ul>

                                }

                            </li>
                        }
                    }
                    <div class="divider-space-card d-block">
                        <div id="cart-basket" class="header-cart-basket">

                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
</div>

<!--    responsive-megamenu-mobile----------------->
<nav class="sidebar">
    <div class="nav-header">
        <div class="header-cover"></div>
        <div class="logo-wrap">
            <a class="logo-icon" href="/"><img alt="logo-icon" src="~/images/logo.png" width="40"></a>
        </div>
    </div>
    <ul class="nav-categories ul-base">

        @if (Model.Any())
        {
            @foreach (var category in Model.Where(c => c.ParentCategoryId == null))
            {
                <li>
                    <a asp-controller="Search" asp-action="Index" asp-route-searchTitle="@category.Title" type="button" data-toggle="collapse" data-target="@("#collapse" + category.Id)" aria-expanded="false" aria-controls="@("collapse" + category.Id)">
                        <i class="mdi mdi-chevron-down"></i>@category.Title
                    </a>
                    <div id="@("collapse" + category.Id)" class="collapse" aria-labelledby="@("heading" + category.Id)" data-parent="#accordionExample" style="">

                        @{
                            var grps = Model.Where(c => c.ParentCategoryId.Equals(category.Id)).ToList();
                        }
                        @if (grps.Any())
                        {
                            <ul>
                                @foreach (var group in grps)
                                {
                                    <li class="has-sub">
                                        <a asp-controller="Search" asp-action="Index" asp-route-searchTitle="@group.Title" class="category-level-2">@group.Title</a>
                                        @{
                                            var subGrps = Model.Where(c => c.ParentCategoryId.Equals(group.Id)).ToList();
                                        }
                                        @if (subGrps.Any())
                                        {
                                            <ul>
                                                @foreach (var subGroup in subGrps)
                                                {
                                                    <li>
                                                        <a asp-controller="Search" asp-action="Index" asp-route-searchTitle="@subGroup.Title" asp-route-categoryId="@subGroup.Id" class="category-level-3">@subGroup.Title</a>
                                                    </li>
                                                }
                                            </ul>
                                        }
                                    </li>
                                }
                            </ul>
                        }

                    </div>
                </li>
            }
        }
    </ul>
</nav>
<div class="nav-btn nav-slider">
    <span class="linee1"></span>
    <span class="linee2"></span>
    <span class="linee3"></span>
</div>
<div class="overlay"></div>
