@using EndPoint.WebSite.Areas.Admin.Models.Common
@using EndPoint.WebSite.Areas.Admin.Models.Users.LoadUsers; 
@model LoadUsersViewModel

@if (Model.Users.Any())
{
    var users = Model.Users;

    <table class="table table-responsive-md text-center">
        <thead>
            <tr>
                <th>کد</th>
                <th>نام کاربری</th>
                <th>نقش</th>
                <th>ایمیل</th>
                <th>وضعیت حساب</th>
                <th>اقدامات</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var user in users)
            {
                <tr class="@((user.isRemoved) ? "bg-red bg-lighten-4" : "")">
                    <td>
                        <i class="fa success font-medium-1 mr-1">@user.Id</i>
                    </td>
                    <td>@user.Username</td>
                    <td>@user.RoleName</td>
                    <td>@user.Email</td>

                    @if (user.isActive)
                    {
                        <td>فعال</td>
                    }
                    else
                    {
                        <td>غیرفعال</td>
                    }

                    <td>

                        @if (user.isRemoved)
                        {
                            <a class="success p-0" title="ویرایش">
                                <i class="fa fa-pencil font-medium-3 mr-2"></i>
                            </a>
                            <a class="info p-0" title="تغییر وضعیت">
                                <i class="fa @((user.isActive)?"fa-check":"fa-times") font-medium-3 mr-2"></i>
                            </a>
                            <a class="p-0 secondary" title="حذف">
                                <i class="fa fa-trash-o font-medium-3 mr-2"></i>
                            </a>
                        }
                        else
                        {

                            <a asp-area="Admin" asp-controller="Users" asp-action="Edit" asp-route-id="@user.Id" asp-route-searchKey="@ViewBag.searchKey" asp-route-page="@ViewBag.page" class="success p-0" title="ویرایش">
                                <i class="fa fa-pencil font-medium-3 mr-2"></i>
                            </a>
                            <a onclick="ChangeStatus(@user.Id, '@user.Username',@user.isActive.ToString().ToLower())" class="info p-0" title="تغییر وضعیت">
                                <i class="fa @((user.isActive)?"fa-check":"fa-times") font-medium-3 mr-2"></i>
                            </a>
                            <a onclick="DeleteUser('@user.Username',@user.Id)" class="danger p-0" title="حذف">
                                <i class="fa fa-trash-o font-medium-3 mr-2"></i>
                            </a>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <table class="table table-responsive-md text-center">
        <thead>
            <tr>
                <th>کد</th>
                <th>نام کاربری</th>
                <th>نقش</th>
                <th>ایمیل</th>
                <th>وضعیت حساب</th>
                <th>اقدامات</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="text text-center font-medium-2">کاربری یافت نشد</div>
}

@*<partial name="_Paging.cshtml" model="Model.Paging"/>*@

<partial name="/Areas/Admin/Views/Shared/_Paging.cshtml" model="Model.Paging" />

    




