<!DOCTYPE html>
<html lang="en" class="loading">
<head>

    <partial name="_MetaTags" />
    @RenderSection("MetaTags", false)
    <title>@ViewData["Title"]</title>
    <partial name="_HeaderRefrences" />
    @RenderSection("HeaderRefrences", false)
    @RenderSection("Style", false)
</head>
<body data-col="2-columns" class=" 2-columns ">

    <div class="wrapper">
        <partial name="_Sidebar" />

        <partial name="_Navbar" />

        <div class="main-panel">
            <div class="main-content">
                <div class="content-wrapper">
                    <div class="container-fluid">

                        @RenderBody()

                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="~/Admin/vendors/js/core/jquery-3.3.1.min.js"></script>
    <script src="~/Admin/js/persian-datepicker.min.js"></script>
    <script src="~/Admin/vendors/js/core/popper.min.js"></script>
    <script src="~/Admin/vendors/js/core/bootstrap.min.js"></script>
    <script src="~/Admin/vendors/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/Admin/vendors/js/prism.min.js"></script>
    <script src="~/Admin/vendors/js/jquery.matchHeight-min.js"></script>
    <script src="~/Admin/vendors/js/screenfull.min.js"></script>
    <script src="~/Admin/vendors/js/pace/pace.min.js"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    @*<script src="~/Admin/vendors/js/chartist.min.js"></script>*@

    <script src="~/Admin/vendors/js/jquery.steps.min.js"></script>
    <script src="~/Admin/vendors/js/pickadate/picker.js"></script>
    <script src="~/Admin/vendors/js/pickadate/picker.date.js"></script>
    <script src="~/Admin/vendors/js/pickadate/picker.time.js"></script>
    <script src="~/Admin/vendors/js/pickadate/legacy.js"></script>
    <script src="~/Admin/vendors/js/jquery.validate.min.js"></script>

    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN CONVEX JS-->
    <script src="~/Admin/js/app-sidebar.js"></script>
    <script src="~/Admin/js/notification-sidebar.js"></script>
    <script src="~/Admin/js/customizer.js"></script>
    <!-- END CONVEX JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    @*<script src="~/Admin/js/dashboard-ecommerce.js"></script>*@
    <!-- END PAGE LEVEL JS-->

    @RenderSection("Scripts", required: false)
    @RenderSection("Modals", required: false)
    @RenderSection("ModalScript", false)
</body>


</html>