<header class="header-main">
    <div class="container-main">
        <div class="d-block">
            <section class="h-main-row">
                <div class="col-lg-9 col-xs-12 pr">
                    <div class="header-right">
                        <div class="col-lg-3 pr">
                            <div class="header-logo row text-right">
                                <a href="/">
                                    <img src="~/images/logo.png" alt="هگز مارکت">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9 pl">
                            <div class="header-search row text-right">
                                <div class="header-search-box">
                                    <input name="pageId" id="page" type="hidden" value="@ViewBag.PageId" />
                                    <input name="searchTitle" id="searchKey" type="hidden" value="@ViewBag.SearchTitle" />

                                    <form action="/Search" class="form-search">
                                        <input type="search" class="header-search-input" name="searchTitle" placeholder="نام کالا، برند و یا دسته مورد نظر خود را جستجو کنید…">
                                        <input name="sortBy" id="sortBy" type="hidden" value="@ViewBag.SortBy" />
                                        <input name="take" id="take" type="hidden" value="@ViewBag.Take" />
                                        <div class="action-btns">
                                            <button class="btn btn-search" type="submit">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-xs-12 pl">
                    <div class="header-left">
                        <div class="header-account text-left">
                            <div class="d-block">
                                <div class="account-box">
                                    <div class="nav-account d-block pl">
                                        <span class="icon-account">
                                            <img src="~/images/man.png" class="avator">
                                        </span>
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <span class="title-account">@User.Identity.Name</span>
                                            <div class="dropdown-menu">
                                                <ul class="account-uls mb-0">
                                                    <li class="account-item">
                                                        <a asp-area="UserPanel" asp-controller="Account" asp-action="Index" class="account-link">پنل کاربری</a>
                                                    </li>
                                                    <li class="account-item">
                                                        <a asp-controller="Authentication" asp-action="LogOut" class="account-link">خروج</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        }
                                        else
                                        {
                                            <a asp-controller="Authentication" asp-action="Login">
                                                <span class="title-account">ورود</span>
                                            </a>
                                            <span class="title-account"> || </span>
                                            <a asp-controller="Authentication" asp-action="Register">
                                                <span class="title-account">عضویت</span>
                                            </a>
                                            <div class="dropdown-menu">
                                                <ul class="account-uls mb-0">
                                                    <li class="account-item">
                                                        <a asp-controller="Authentication" asp-action="Register" class="account-link">عضویت</a>
                                                    </li>
                                                    <li class="account-item">
                                                        <a asp-controller="Authentication" asp-action="Login" class="account-link">ورود</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            @await Component.InvokeAsync("HeaderMenues")
        </div>
    </div>
</header>